<!-- """AmirsamDerakhshan""" -->
<section class="main-about" id="about-continer">
    <h1><span class="full-name-section">A</span>bout me</h1>
    <div class="gallery">
        <div class="left-grid">
            <a href="https://en.wikipedia.org/wiki/Hamadan">
                <img src="/static/images/af8df31a-4243-4703-bd36-ef6fe1a4fca0.png" alt="" class="img-star">
            </a>
            <a href="">
                <img src="/static/images/a71b0309-65a5-45e0-af1c-aaa8e14c1c06.png" class="img-star">
            </a>
            
            <a href="#">
                <img src="/static/images/e3249397-f8cd-4dc8-98b9-de01704573ea.png" alt="" class="img-star">
            </a>
            <a href="#">
                <img src="/static/images/f411307e-ab92-41b8-8169-6feb5fc9cdc9.png" alt="" class="img-star">
            </a>
        </div>
        <div class="right-big">
            <a href="#">
                <p class="p-star-p"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, tenetur! Rerum dolore quasi temporibus incidunt totam deserunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est, dolore ea voluptatibus, dicta aperiam atque Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto velit modi similique tempora autem hic est esse voluptati Similique dolor obcaecati sed atque id dicta cum rerum eveniet ducimus repudiandae. voluptatum vero fugiat sint omnis ab, eligendi aliquam optio maiores. Exercitationem est sunt pariatur. facilis quibusdam est aliquid magnam, quo voluptate beatae expedita inventore distinctio aliquam? Alias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit itaque cumque harum reprehenderit aspernatur rem delectus non vitae nihil quam! Corrupti illo repellat dolores aspernatur necessitatibus! Illo mollitia assumenda ad?</p>
            </a>
        </div>
    </div>
</section>