<!-- """AmirsamDerakhshan""" -->
{% extends "main/layout_main.html" %}

{% block title %}main page{% endblock %}

{% block page_content %}
    <aside class="progress-nav">
        <nav>
            <ul>
                <li><a href="#personal-header"><span>Profaile</span></a></li>
                <li><a href="#skills-container"><span>Skills</span></a></li>
                <li><a href="#about-continer"><span>About</span></a></li>
                <li><a href="#contact-form"><span>Contact</span></a></li>
            </ul>
        </nav>
    </aside>
{% endblock %}
